body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: seagreen;
}

.cuerpo {
	height: 85vh;
	background-color: white;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.empresa {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logo {
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo svg {
	height: 100%;
}
.nombreMarca {
	text-align: center;
	font-size: 300%;
}

footer {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: white;
	background-color: black;
}