*{
	font-family: cursive;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #025384;
}

.cuerpo {
	height: 85vh;
	background-color: #ffffff;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.empresa {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logo {
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo svg {
	height: 100%;
}
.nombreMarca {
	text-align: center;
	font-size: 300%;
}

footer {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: white;
	background-color: #4da2da;
	margin-top: 1%;
}
header .navbar .container-fluid{
	background-color: #4da2da;
	padding-bottom: 1%;
}